In [1]:
##10. Access value 20 from the following tuple -> aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [2]:
list=[2,3,4,6]
list.append(30)

In [3]:
print(list)

[2, 3, 4, 6, 30]

In [4]:
aTuple=["Orange", (10, 20, 30), (5, 15, 25)]
aTuple.append("Mango")
aTuple[1][1]

20

In [5]:
print(aTuple)

['Orange', (10, 20, 30), (5, 15, 25), 'Mango']

In [6]:
##3. Print First 10 natural numbers using while loop.

In [7]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [8]:
##8. Concatenate two lists index-wise

In [9]:
a1=[4,5,6,7,8,9]
a2=[11,12,13,14,15]
(a1+a2)

[4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15]

In [10]:
##9. Given a Python list of numbers. Turn every item of a list into its square

In [11]:
square=[a**2 for a in range (1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
##4. Accept number from user and calculate the sum of all number from 1 to a given number

In [13]:

sum=0
i=1
while i<=20:
    sum=sum+i
    i=i+1
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [14]:
l=[1,2,3,78,25,89,101,21]

In [15]:
l.sort()

In [16]:
l

[1, 2, 3, 21, 25, 78, 89, 101]

In [17]:
l.reverse()

In [18]:
l

[101, 89, 78, 25, 21, 3, 2, 1]

In [19]:
l.insert(0,25)

In [20]:
l

[25, 101, 89, 78, 25, 21, 3, 2, 1]

In [21]:
l.pop()

1

In [22]:
l

[25, 101, 89, 78, 25, 21, 3, 2]

In [23]:
##

In [24]:
i=0
while i<10:
    if i==4:
        print("found")
    else:
        print('Not Found')
        print(i)
    i+=1

Not Found
0
Not Found
1
Not Found
2
Not Found
3
found
Not Found
5
Not Found
6
Not Found
7
Not Found
8
Not Found
9

In [25]:
list1=['1','2','3','4','5']
list2=['6','7','8','9','10']

for x in list1:
    for y in list2:
        print(x,y)

1 6
1 7
1 8
1 9
1 10
2 6
2 7
2 8
2 9
2 10
3 6
3 7
3 8
3 9
3 10
4 6
4 7
4 8
4 9
4 10
5 6
5 7
5 8
5 9
5 10

In [26]:
## for loop break statement

In [27]:
lists=12
while i in lists:
    if i/3:
        print(i)
    else:
        print('not ok')

TypeError: argument of type 'int' is not iterable

In [ ]:
i=10
while i<=100:
    print(i/2)
    i=i+5
print('End program')

In [ ]:
lists=[25,36,15,48,69,87]
sum=0
for x in lists:
    sum= sum+x
    print(sum)

In [30]:
lists=21
if (lists%3==0):
    print('ok')
elif(lists%5==0):
    print('iteam is divided by 5')
else:
    print('iteam are not correct')

ok